@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  /* Luxury Gold Accent */
  --color-accent: #d4af37; 
}

body {
  background-color: #f8fafc; /* Slate-50 */
  color: #0f172a; /* Slate-900 */
}